<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontAwesome")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("PageScripts", required: false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="~/Images/evernote-32.png">
                </a>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
                @Html.ActionLink("Retea sociala MDS", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
                
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("UserImagesList", "UserImagesList", "Home")</li>
                <li>@Html.ActionLink("CreateUserImage", "CreateUserImage", "Home")</li>
            </ul>
            @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "navbar-form navbar-left", role = "search" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search for a user" name="userName">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            }
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
<div class="container-fluid body-content">
    
    @RenderBody()

    <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
        <nav>
            @if (IsSectionDefined("Nav"))
            {
                @RenderSection("Nav", required: false)
            }
            else
            {
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            }

        </nav>
    </div>
    
</div>

@Scripts.Render("~/bundles/jquery")

@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/MicrosoftAjax")
@Scripts.Render("~/bundles/MicrosoftMvcAjax")
@Scripts.Render("~/bundles/MicrosoftMvcValidation")
@Scripts.Render("~/bundles/imagesloaded")
@Scripts.Render("~/bundles/masonry")
@RenderSection("scripts", required: false)
</body>
</html>
