@model ReteaSocialaMDS.Models.PostComment

@using (Html.BeginForm("AddCommentRecieve", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            <div class="col-md-3">Add comment</div>
            <div class="col-md-6">
                @*@Html.EditorFor(m => m.PostCommentMessage, new { @class = "form-control" })*@
                @Html.TextBoxFor(m => m.PostCommentMessage, new {style = "width:100%"})
                @Html.TextBoxFor(m => m.ParentPostId, new {value = @Model.ParentPostId, style="display: none"})
            </div>
            <div class="col col-md-3">
            <input type="submit" value="Comment" class="btn btn-default" />
        </div>
        </div>
            

    </div>
}